<!DOCTYPE html>
<html>
  <head>
    <meta charse="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>project page text would go here</p>
    {{> footer}}
  </body>
</html>
